@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.company-name{
    font-weight: bold;
    font-size: 30px;
}

.job-search-filter{
    background-color: #2f6cd3;
    height: 20%;
}

.search-filter-box{
    background-color: #D9D9D9 !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


.btn-primary-custom{
    background: linear-gradient(to bottom, #53a0ff, #357ae8);
    padding: 10px 28px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.btn-primary-custom:hover{
    color: white;
    background: linear-gradient(to top, #53a0ff, #357ae8);
}

.banner{
    height: 80vh;
}

.banner-left-content{
    bottom: 15%;
}

.banner-right-content{
    left: -15%;
    top: 30%;
}

.hr-bold {
  border: 0;           
  height: 1px;             
  background-color: black;           
}

.registration-card{
    width: "260px";
    border-radius: "12px";
    overflow: "hidden";
    border: "1px solid #ddd"
}

.primary-custom-color{
    color: #4C95ED;
}

.banner-title{
    font-size: 60px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.custom-footer{
    background-color: #D9D9D9 !important;
}

.primary-text{
    color: #4C95ED;
}

input:not([type="checkbox"]):not([type="radio"]){
    background-color: rgb(241, 241, 241) !important;
}

@media (max-width: 768px) {
  .banner-left-content {
    position: static;
  }

  .banner-left-content{
        right: 10%;
        top: 10%;
    }
}