@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.company-name{
    font-weight: bold;
    font-size: 30px;
}

.job-search-filter{
    background: linear-gradient(to top, #539ef9, #0062ff);
    height: 20%;
}

.search-filter-box{
    background-color: #D9D9D9 !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


.btn-primary-custom{
    background: linear-gradient(to bottom, #53a0ff, #357ae8);
    padding: 10px 28px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.btn-primary-custom:hover{
    color: white;
    background: linear-gradient(to top, #53a0ff, #357ae8);
}

.banner{
    height: 80vh;
}

.banner-left-content{
    bottom: 15%;
}

.banner-right-content{
    left: -15%;
    top: 30%;
}

.hr-bold {
  border: 0;           
  height: 1px;             
  background-color: black;           
}

.registration-card{
    width: "260px";
    border-radius: "12px";
    overflow: "hidden";
    border: "1px solid #ddd"
}

.primary-custom-color{
    color: #4C95ED;
}

.banner-title{
    font-size: 60px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.custom-footer{
    background-color: #D9D9D9 !important;
}

.primary-text{
    color: #4C95ED;
}

input:not([type="checkbox"]):not([type="radio"]){
    background-color: rgb(241, 241, 241) !important;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: white;
  color: black;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.toggle-btn {
  background: none;
  border: none;
  color:black;
  font-size: 18px;
  cursor: pointer;
}

.sidebar-title {
  font-size: 14px;
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.sidebar-text {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
}

.sidebar-text:hover {
  background: #0A65CC;
  color: white;
}

.sidebar-text.active {
  background: #E7F0FA;
  color: #0A65CC;
  border-left: #0A65CC 7px solid;
  font-weight: bold;
}

.icon {
  font-size: 18px;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
  background: #f8fafc;
  transition: margin-left 0.3s ease;
}




@media (max-width: 768px) {
  .banner-left-content {
    position: static;
  }

  .banner-left-content{
        right: 10%;
        top: 10%;
    }
}